<div>
    <div class="duration__togglerWrapper mr-auto">
        <input type="checkbox" name="durationToggler" :disabled="isViewMode" v-model="cultureType"
               @change="getCalenderType()" id="durationToggler">
        <label for="durationToggler" class="duration__toggler">
            <span class="duration__switch"></span>
        </label>
        <span>هجري</span>
        <span>ميلادي</span>
    </div>
    <div class="row">
        <div class="col">
            <label>السنة</label>
            <SelectTo v-model="selectedYear" :Data="years" :isMulti="false" :isSearchable="true" tittle="إختر .."
                      :showPreserve="false" :selectedoption="selectedYear" @SlectedItems="onSelectedYear"
                      :isDisabled="isViewMode" :id="'year'+_uid">
            </SelectTo>
        </div>
        <div class="col">
            <label>الشهر</label>
            <SelectTo v-model="selectedMonth" :Data="months" :isMulti="false" :isSearchable="true" tittle="إختر .."
                      :showPreserve="false" :selectedoption="selectedMonth" label="key" @SlectedItems="onSelectedMonth"
                      :isDisabled="isViewMode" :id="'month'+_uid">
            </SelectTo>
        </div>
        <div class="col">
            <label>اليوم</label>
            <SelectTo v-model="selectedDay" :Data="days" :isMulti="false" :isSearchable="true" tittle="إختر .."
                      :showPreserve="false" :selectedoption="selectedDay" @SlectedItems="onSelectedDay"
                      :isDisabled="isViewMode" :id="'day'+_uid">
            </SelectTo>
        </div>
    </div>
</div>