:root {
  --app-primary-color: #158E8D;
  --app-dark-primary-color: #02363D; 
  --app-light-primary-color: #02ad68; 
  --app-lighter-primary-color: #36c5ba;

  --app-secondary-color: #E0CF97; 
  --app-light-secondary-color: #FAF9F4; 
}

$primary-color: var(--app-primary-color); 
$dark-primary-color: var(--app-dark-primary-color); 
$light-primary-color: var(--app-light-primary-color); 
$lighter-primary-color: var(--app-lighter-primary-color); 

$secondary-color: var(--app-secondary-color); 
$light-secondary-color: var(--app-light-secondary-color); 

// $grey: #5c6f7c;
$light-grey: #99AEB1;
$lighter-grey: #b4c3c5;