@import 'src/styles/variables';

.box {
  border: 1px solid #DBDBDB;

  .section-header {
    color: $dark-primary-color;
    font-weight: bold;
    font-size: 26px;
    background-color: $light-secondary-color;
    padding: 15px 50px;

    .title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .content-wrapper {
    padding: 35px 50px;
  }

  @media (max-width: 450px) {
    .content-wrapper {
      padding: 15px
    }
  }
}
