@import 'src/styles/variables.scss';

.box {
  border: 1px solid #DBDBDB;

  .sectionHeader {
    color: $dark-primary-color;
    font-weight: bold;
    font-size: 22px;
    background-color: $light-secondary-color;
    padding: 15px 50px;
  }

  .contentWrapper {
    padding: 35px 50px;
  }

  @media (max-width: 450px) {
    .contentWrapper,
    .sectionHeader {
      padding: 15px
    }
  }
}
