.layout-wrapper {
  position: relative;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.data-placeholder.loading {
  filter: blur(1px);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.navigation .pagination {
  margin: 0;
}

.navigation .pagination .page-item,
.navigation .pagination .page-item > .page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .pagination .page-item:not([role='separator']).disabled {
  opacity: .5;
}

.navigation .pagination .page-item > .page-link {
  padding: 0;
  width: 36px;
  height: 36px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.navigation .pagination .page-item:not(.active):hover > .page-link {
  color: #158E8D;
}

.navigation .pagination .page-item:not(:first-of-type) {
  margin: 0 5px;
}
.navigation .pagination .page-item.active > .page-link {
  background-color: #158E8D;
  outline: none;
  border: none;
}

.separator {
  margin: 0 10px;
}

.nav-controller {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: 2px 2px 5px #ccc;
  cursor: pointer;
  transition: box-shadow .11s ease-in-out;
}

.nav-controller:active {
  box-shadow: unset;
}

.page-size-wrapper {
  width: 100px;
}
/* DDL */
 .v-select {
  direction: rtl;
} 

.v-select .vs__clear,
.v-select .vs__open-indicator {
  fill: #418C8C;
  width: 15px;
  height: 9px;
  margin: 0 5px;
}

.v-select,
.v-select .vs__dropdown-menu {
  box-shadow: none;
}

.v-select .vs__dropdown-toggle {
  border: 2px solid #DBDBDB;
}

.v-select .vs__dropdown-menu {
  border: 1px solid #DBDBDB;
  border-radius: 0;
  border-top: 0;
  min-width: 100%;
}
.v-select .vs__dropdown-menu .vs__dropdown-option {
  color: #02363D;
  font-size: 15px;
  padding: 5px 10px;
  text-align: initial;
  transition: background-color .3s ease-in;
}

.v-select .vs__dropdown-menu .vs__dropdown-option.vs__dropdown-option--highlight {
  color: #fff;
  background: #158E8D;
}

@media (max-width: 480px) {
  .separator {
    display: none;
  }
  .navigation {
    flex-direction: column;
  }

  .navigation .pagination {
    margin-bottom: 10px;
  }

  .page-size-wrapper {
    width: 100%;
  }
}

@media (max-width: 310px) {
  .navigation .pagination .page-item > .page-link {
    width: 30px;
    height: 30px;
  }
}