.v-application--wrap {
  min-height: unset;
}

.layout-wrapper {
  position: relative;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

.data-placeholder.loading {
  filter: blur(1px);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.navigation .pagination {
  margin: 0;
}

.navigation .pagination .page-item,
.navigation .pagination .page-item>.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .pagination .page-item:not([role='separator']).disabled {
  opacity: .5;
}

.navigation .pagination .page-item>.page-link {
  padding: 0;
  width: 36px;
  height: 36px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

.navigation .pagination .page-item:not(.active):hover>.page-link {
  color: #158E8D;
}

.navigation .pagination .page-item:not(:first-of-type) {
  margin: 0 5px;
}

.navigation .pagination .page-item.active>.page-link {
  background-color: #158E8D;
  outline: none;
  border: none;
}

.separator {
  margin: 0 10px;
}

.nav-controller {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  box-shadow: 2px 2px 5px #ccc;
  cursor: pointer;
  transition: box-shadow .11s ease-in-out;
}

.nav-controller:active {
  box-shadow: unset;
}

.page-size-wrapper {
  width: 100px;
}

@media (max-width: 600px) {
  .separator {
    display: none;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation .pagination {
    margin-bottom: 10px;
  }

  .page-size-wrapper {
    width: 90%;
  }
}

/* Vuetify */
.v-text-field--filled>.v-input__control>.v-input__slot,
.v-text-field--full-width>.v-input__control>.v-input__slot,
.v-text-field--outlined>.v-input__control>.v-input__slot {
  min-height: unset;
}

.theme--light.v-select .v-select__selections {
  min-height: unset;
}

.v-text-field--enclosed .v-input__append-inner,
.v-text-field--enclosed .v-input__append-outer,
.v-text-field--enclosed .v-input__prepend-inner,
.v-text-field--enclosed .v-input__prepend-outer,
.v-text-field--full-width .v-input__append-inner,
.v-text-field--full-width .v-input__append-outer,
.v-text-field--full-width .v-input__prepend-inner,
.v-text-field--full-width .v-input__prepend-outer {
  margin-top: 7px;
}

.v-select__selection--comma {
  margin: 0 4px 0 0;
}

.v-select.v-text-field--outlined:not(.v-text-field--single-line) .v-select__selections {
  padding: 2px 0;
}

.v-input__icon .v-icon.v-icon {
  color: #418c8c;
  font-size: 28px;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled)>.v-input__control>.v-input__slot:hover fieldset {
  color: #DBDBDB;
}

.v-text-field--outlined.v-input--has-state fieldset,
.v-text-field--outlined.v-input--is-focused fieldset {
  color: #DBDBDB;
}

.v-text-field--outlined.v-input--has-state fieldset,
.v-text-field--outlined fieldset:hover {
  color: #DBDBDB;
}

.v-text-field.v-text-field--enclosed {
  margin-top: 5px;
}

.v-menu__content {
  box-shadow: none;
  border: 1px solid #DBDBDB;
}

.v-pagination li:first-child .v-pagination__navigation {
  margin-right: 0;
}

.v-pagination li:last-child .v-pagination__navigation {
  margin-left: 0;
}

@media (max-width: 500px) {

  .v-pagination__item,
  .v-pagination__navigation {
    font-size: 0.75rem;
    height: 30px;
    min-width: 30px;
    margin: 4px;
  }

  .v-select__selection--comma {
    font-size: 0.75rem;
  }

}

@media (max-width: 600px) {
  .v-pagination {
    margin-bottom: 20px;
  }
}